.editar-peli-div{
    display: flex;
    gap: 2rem;
    background-color: whitesmoke;
    border-radius: 14px;
    padding: 1rem;
}

.editar-peli-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.editar-peli-input{
    border: none;
    border-radius: 14px;
    padding: 5px;
    min-width: 180px;
}

.editar-peli-textarea{
    border: none;
    border-radius: 14px;
    padding: 5px;
    min-height: 60px;
    min-width: 180px;
}

.editar-peli-btn{
    border-radius: 14px;
    padding: 0.5rem;
    border: none;
    background-color: rgb(0, 251, 92);
    width: 80px;
}