.buscador-pelis{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 101, 130);;
    display: flex;
    justify-content: center;
    gap:1rem;
    border-bottom: 0.25rem solid rgb(255, 255, 255)
}

.buscador-input{
    border: none;
    border-radius: 14px;
    padding: 0.3rem;
}