.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap:1rem;
    border-bottom: 4px solid rgb(67, 67, 67);
}

.header-image{
    width: 80px;
}

@media (min-width: 768px){
    .header{
        gap:3rem;
    }
}