a:link, a:visited, a:active {
    text-decoration:none;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-bar-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

