.listado-pelis-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    flex-wrap: wrap;
}

.listado-pelis-article{
    padding: 1.5rem;
    background-color: whitesmoke;
    border-radius: 14px;
    text-align: center;
    margin: 1rem;
    word-break: break-all;
    width: 15rem;
}

.peli-title, .peli-description{
    margin-bottom: 0.5rem;
    padding-top: 0.25rem;
}

.btns-div{
    display: flex;
    justify-content: center;
    gap:1rem;
    
}

.edit-peli-btn{
    border-radius: 14px;
    padding: 0.5rem;
    border: none;
    background-color: rgb(255, 101, 130);
    width: 80px;
}

.edit-peli-btn:hover{
    cursor: pointer;
    background-color: rgb(64, 179, 255);
}

.delete-peli-btn{
    border-radius: 14px;
    padding: 0.5rem;
    border: none;
    background-color: rgb(255, 101, 130);
    width: 80px;
    cursor: pointer;
}

.delete-peli-btn:hover{
    cursor: pointer;
    background-color: rgb(254, 107, 107);
}

