.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.footer{
    padding-top: 1rem;
    background-color: black;
    color: white;
}